.container {
  width: 40rem;
  position: relative;
  border: #060357;
}

.textbox {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  height: 2rem;
  outline: none;
  padding: 1px 10px;
  transition: 0.2s ease-in-out;
  width: 100%;
}

.textbox:focus {
  border: 1px solid #060357;
  transition: 0.2s ease-in-out;
}

.suggestions {
  /* Styles of the suggestions container */
  overflow-y: scroll;
  border: 1px solid #f3f3f3;
  background-color: white;
  max-height: 20rem;
  width: 100%;
  height: fit-content;
  position: absolute;
  z-index: 10;
}

.suggestions.hidden {
  /* Will hide the suggestions */
  visibility: hidden; /* We can also use `opacity: 0`;*/
}

.suggestion {
  /* Styling of a single suggestion */
  cursor: pointer;
  box-sizing: border-box;
  padding: 1px 10px;
  height: 2rem;
  display: flex;
  align-items: center;
}

.suggestion:hover {
  /* Changing background color on hover */
  background-color: #f3f3f3;
}